

body {
	text-align: center;
	background-image: url("imgs/BATTLESHIP_01.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1 {
	text-align: center;
	color: black;
	font-size: 30pt;
	font-weight: bold;
}

h2 {
	text-align: center;
	color: grey;
	font-size: 26pt;
	font-weight: bold;
}

p {
	color: black;
}

input {
	color: black;
}

#menu, #controls {
  color: white;
	margin-top: 16px;
	padding: 16px;
	display: inline-block;
}

#menu h2 {
	margin-top: 0;
}

.board-container {
	display: inline-block;
	margin: 16px;
}

.board th, .board td {
	width: 32px;
	height: 32px;
	border: 1px solid white;
}

.board th {
	background: black;
	color: white;
}

.board td {
	position: relative;
}

.board td.miss {
	/*Miss shot, yellow*/
	background-image: radial-gradient(#a5a50d 28%, #f0f042 32%, #f0f042 58%, transparent 62%);
}

.board td.ship {
/*Ship cell, grey*/
	background: radial-gradient(rgba(128,128,128,0.7) 28%, #7b9095 32%, #7b9095 100%);
}

.board td.hit {
  background-repeat: no-repeat;
	background-size: auto;
	/*Shell hit ship, ship is hidden, red*/
	background-image: radial-gradient(#951d1d 28%, #c02626 32%, #c02626 58%, transparent 62%);
}

.board td.ship.hit {
	/*Shell hit ship cell, red & grey*/
	background-image: radial-gradient(#951d1d 28%, #c02626 32%, #c02626 58%, #7b9095 62%);
}

.board td:before {
	position: absolute;
	left: 0;
	top: 6px;
	width: 100%;
	pointer-events: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: grey;
	background-color: rgba(0,0,0,0.4);
 }

.modal-content {
	background-color: grey;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35%;
 }
